*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
font-size: 18px;
font-weight: 400;
margin-top: 0;
margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover span{
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__input {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__input:has(:focus-visible) {
  outline: solid 1px #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  background-color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
}

.button {
  border: solid 1px #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 303px;
  overflow: auto;
  gap: 30px;
  position: relative;
  margin-top: 18px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content__list-item {
  padding: 3px;
  cursor: pointer;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid 1px #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  display: flex;
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}